<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/aniket-favcon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            'serif': ['Lora', 'serif'],
          }
        }
      }
    }
  </script>
</head>
<body class="bg-white text-gray-800 font-serif">
  <main class="bg-white p-12 max-w-4xl mx-auto mt-32 mb-10">
    {{ content }}
  </main>
</body>
</html>
